<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <script src="../index.js" defer></script>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav>
        <a href="/">
            <div class="logo">
                <img src="../image/logo.png" alt="">
                <div class="content">
                    <span>TECHGENIUS</span>
                </div>
            </div>
        </a>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Service</a></li>
            <li><a href="">Portfolio</a></li>
        </ul>
    </nav>
    </header>